[submodule "drake-schunk-driver"]
	path = drake-schunk-driver
	url = https://github.com/jeh15/drake-schunk-driver.git
[submodule "include/drake-schunk-driver"]
	path = include/drake-schunk-driver
	url = https://github.com/jeh15/drake-schunk-driver
